* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div.body {
  display: flex;
  width: 99vw;
  height: 98vh;
}

div.contenedorFormulario {
  display: flex;
  width: 1280px;
  height: 98vh;
}

