<div class="contenedorFormulario">
  <form action="submit">
    <div class="inputContainer">
      <fa-icon [icon]="faHashtag"></fa-icon>
      <input id="id_evento" placeholder="Digite el id del evento" type="text">
    </div>
    <div class="inputContainer">
      <fa-icon [icon]="faVideo"></fa-icon>
      <input id="nombre_evento" placeholder="Digite el nombre del evento" type="text">
    </div>
      <label for="fecha_evento">Digite la fecha y hora del evento:</label>
    <div class="inputContainer">
      <fa-icon class="fa-icon-datetime" [icon]="faCalendar"></fa-icon>
      <fa-icon class="fa-icon-datetime" [icon]="faUserClock"></fa-icon>
      <input id="fecha_evento" type="datetime-local">
    </div>
  </form>
</div>



